*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg-dark);
  overflow-x: hidden;
}


/* Make images responsive everywhere */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 80px 0;
}

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}
